*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Container-1 css starts image part */

.heading{
    position: relative;
    bottom: 12rem;
    left: 50rem;
}

.head{
    font-size: 34px;
}

.sub-head{
    color: #ff6D26;
}

.head2{
    color: #333333;
    font-size: 14px;
    margin: 18px 0px 0px;
}
/* Container-1 css ends image part */

/* Container-2 css starts Cards part */
.Container-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    margin: auto;
    position: relative;
    bottom: 8rem;
    z-index: 1;
}

/* each div css */

.div-con-1{
    height: 290px;
    box-shadow: 0 0 5px #bac3c3;
    background-color: #ffffff;
    border-radius: 10px;
    flex: 1 1 320px;
    margin: 20px;
}

/* button css */
.con-button{
    color: #ffffff;
    background-color: #ff6D26;
    padding: 8px;
    width: 150px;
    border-radius: 60px;
}
/* star icon css */

.con-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* using flex to whole div */
.con-head{
    display: flex;
    padding: 20px 16px 16px 20px;
    margin-top: 20px;
}
/* border css */
.con-border{
    height: 170px;
    border-bottom: 1px solid lightgrey;
}

/* Container- 2 paragraph part*/
.con-para{  
    margin-top: 50px;
}

.con-para-child{
    display: flex;
    justify-content: space-around;
}

.star-img{
    margin-left: 5px;
}
.para-inner{
    margin-left: 10px;
}

/* Container-2 css ends Cards part */